@media all and (max-width: 768px) {
    body {
        overflow: hidden;
    }
    .wrap {
        overflow: hidden;
        height: 100%;
    }
    header {
        width: 100%;
        height: 60px;
    }
    .menu {
        height: 60px;
    }
    .menu a {
        font-size: 0.9vw;
        margin-top: 35px;
        line-height: 20px;
    } 
    .menu li:nth-of-type(1){
        margin-left: 55%;
    }
    .menu li:nth-of-type(2){
        margin-left: 65%;
    }
    .menu li:nth-of-type(3){
        margin-left: 75%;
    }
    .bigmove {
        width: 320px;
        height: 320px;
        top: -320px;
        left: -320px;
    }
    .linecir {
        width: 220px;
        height: 220px;
        top: -220px;
        left: 0px;
    }
    .video{
        width: 310px;
        height: 310px;
        z-index: 6;
        top: 600px; 
        right: -200px;
    }
    .cirimg{
        width: 170px;
        height: 170px;
        top: 720px; 
        right: -100px;
        opacity: 50%;
    }
    .txt {
        top: 310px;
        width: 100%;
        z-index: 50;
    }
    .sub {
        margin-left: 10.3%;
        margin-bottom: 1.5vw;
        font-family: 'Pretendard',sans-serif;
        font-size: 3vw;
        color: #401201;
    }
    .title {
        margin-left: 9.2%;
        margin-top: 25px;
        font-family: 'HSGyeoulNoonkott20';
        font-size: 11vw;
        color: #401201;
    }
    .btnmb {
        position:absolute;
        width: 100%;
        top: 425px;
        left: 260px;
        font-family: 'Pretendard',sans-serif;
        font-size: 3.2vw;
        color: #401201;

    }
    .btn {
        visibility: hidden;
    }
    
}